<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>User Directory Index</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
  </head>
  <body>

    <div class="container">
      {{#users}}
        <div class="user-index-container">
          <a href="/{{username}}">
            <img src="{{avatar}}" alt="">
            <h4 class="index-name">{{name}}</h4>
            {{#job}}
            <p class="index-job">{{job}}</p>
            <p class="index-co">{{company}}</p>
            {{/job}}
            {{^job}}
            <p class="index-jobless">Available for hire</p>
            {{/job}}
          </a>
        </div>
      {{/users}}
    </div>
  </body>
</html>

<!-- Latest compiled and minified JavaScript -->
