body {
  font-family: sans-serif;
  color: gray;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.user-index-container {
  border: 1px solid grey;
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 0;
  padding: .5rem 1rem;
}

.index-name {
  color: blue;
}

.index-jobless {
  color: red;
}

.user-jobless {
  color: red;
}

.avatar {
  border: 1px solid gray;
  border-radius: 76px;
}

.skills-container {
  display: flex;
  align-content: flex-start;
}

.skills {
  display: inline-block;
  margin-right: 2px;
}

ul {
  padding: 0;
  display: inline-block;
}

li {
  list-style: none;
}
